

/*
 * Section Request
 */
.section-request {
    padding-bottom: 75px;
}

/*
 *
 */
.step-header-title {
    font-size: 16px;
    padding: 60px 0 0;
}
.step-header-title small {
    width: 100%;
    color: #999;
    display: block;
    font-weight: 400;
    margin-top: 3px;
}
.request-step .hide {
    display: none !important;
}
.request-step .form-input {
    width: 330px;
    max-width: 100%;
    position: relative;
    margin: auto;
}
.request-step .form-error {
    width: 330px;
    margin: auto;
}
.request-step .form-error h3 small {
    color: #999;
}
.request-step .form-input input {
    width: 100%;
    font-size: 16px;
    padding: 15px 15px;
    margin-bottom: 12px;
    border-radius: 3px;
    border-color: #ccc !important;
}
.request-step .form-zipcode-button {
    width: 100% !important;
    height: 50px !important;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    background-color: #333;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    border: 0 !important;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.request-step .step-header .step-header-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 45px;
}
.request-step .step-content .step-header-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 45px;
}


/*
 * Requests
 */
.request-step {
    text-align: center;
}
.request-step ul:after {
    clear: both;
}
.request-step ul:after,
.request-step ul:before {
    display: table;
    content: " ";
}
.request-step ul {
    list-style: none;
    text-align: center;
    margin-right: -6px;
    margin-left: -6px;
    padding: 0;
}
.request-step ul li {
    cursor: pointer;
    min-height: 1px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 4px 6px;
}
/*
 * Colors
 */
ul.request-colors-list li {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
ul.request-colors-list li div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 300ms;
    margin: 0 !important;
}
ul.request-colors-list li div span {
    width: 54px;
    height: 54px;
    display: block;
    background: red;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 1px;
}
ul.request-colors-list li div:hover {
    border-color: #ccc;
}
ul.request-colors-list li div.active {
    border-color: #999;
}
/*
 * Devices
 */
ul.request-devices-list li div {
    color: #666;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
}
ul.request-devices-list li div h3 {
    font-size: 14px;
    font-weight: 500;
}
ul.request-devices-list li div img {
    max-height: 75px;
    display: block;
    margin: 0 auto 18px;
}
ul.request-devices-list li div:hover {
    border-color: pink;
}
ul.request-devices-list li div.active {
    background: #eee;
}
/*
 * Problems
 */
ul.request-problems-list li div {
    background: #eee;
    border: 1px solid #eee;
    padding: 20px 6px;
}
ul.request-problems-list li div h3 {
    font-weight: 300;
}
ul.request-problems-list li div.active {
    background: pink;
}
@media (max-width: 350px) {
    ul.request-problems-list li {
        width: 50% !important;
    }
    ul.request-devices-list li {
        width: 50% !important;
    }
    ul.request-devices-list li div img {
        max-height: 60px;
    }
}
@media (min-width: 350px) and (max-width: 499px) {
    ul.request-problems-list li {
        width: 50% !important;
    }
    ul.request-devices-list li {
        width: 33.3333333333% !important;
    }
    ul.request-devices-list li div img {
        max-height: 60px;
    }
}
@media (min-width: 500px) and (max-width: 569px) {
    ul.request-problems-list li {
        width: 33.3333333333% !important;
    }
    ul.request-devices-list li {
        width: 25% !important;
    }
    ul.request-devices-list li div img {
        max-height: 50px;
    }
}
@media (min-width: 570px) and (max-width: 767px) {
    ul.request-problems-list li {
        width: 33.3333333333% !important;
    }
    ul.request-devices-list li {
        width: 25% !important;
    }
    ul.request-devices-list li div img {
        max-height: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.request-problems-list li {
        width: 25% !important;
    }
    ul.request-devices-list li {
        width: 20% !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.request-problems-list li {
        width: 20% !important;
    }
    ul.request-devices-list li {
        width: 16.6666666667% !important;
    }
}
@media (min-width: 1200px) {
    ul.request-problems-list li {
        width: 20% !important;
    }
    ul.request-devices-list li {
        width: 14.2857142857% !important;
    }
    ul.request-colors-list li div {
        width: 60px !important;
        height: 60px !important;
    }
}


.request-menu {
    width: 100%;
    height: 70px;
    background: #eee;
}
.request-menu > div > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: transparent !important;
}

.button-prev-step,
.button-next-step {
    width: 150px;
    height: 60px;
    bottom: 15px;
    /*border-radius: 0 !important;*/
    position: fixed !important;
    margin: 0 !important;
    z-index: 999;
}
.button-prev-step {
    left: calc(50% - 153px) !important;
    text-align: right !important;
}
.button-next-step {
    right: calc(50% - 153px) !important;
    text-align: left !important;
}
@media (max-width: 991px) {
    .button-prev-step,
    .button-next-step {
        width: 50%;
        height: 60px;
        bottom: 0;
        border-radius: 0 !important;
        position: fixed !important;
        margin: 0 !important;
    }
    .button-prev-step {
        left: 0 !important;
        text-align: right !important;
        background: rgba(222, 222, 222, 0.99) !important;
    }
    .button-next-step {
        right: 0 !important;
        text-align: left !important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none;
    }
}



@media only screen and (max-width: 992px) {
    .hidden-this-lg-down span:last-child {
        display: none !important;
    }
}


.form-control {
    width: 420px;
    display: block;
    max-width: 100%;
    margin: 0 auto 10px;
}
.button-block button {
    min-height: 50px !important;
    margin-top: 25px !important;
}


.timing {
    text-align: left;
    width: 350px !important;
    max-width: 100% !important;
    margin: auto !important;
}

ul.timing-date {
    margin-bottom: 30px;
}
ul.timing-date li {
    width: 60px;
    height: 60px;
    padding:12px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: #eee;
    margin: 6px;
}
ul.timing-date li span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
ul.timing-date li span.count {
    font-size: 14px;
    font-weight: bold;
}
ul.timing-date li .today {
    font-size: 12px;
    padding: 10px 0;
    display: block;
}
ul.timing-date li.active {
    opacity: 1 !important;
    background: lightpink !important;
}

@media (max-width: 569px) {
    .hidden-sm-down {
        display: none;
    }
}
@media (max-width: 767px) {
    .hidden-md-down {
        display: none;
    }
}
@media (max-width: 991px) {
    .hidden-lg-down {
        display: none;
    }


    .step-header-title {
        padding: 0;
        margin: 45px 0 30px;
    }
}
@media (min-width: 570px) {
    .hidden-sm-up {
        display: none;
    }
}
@media (min-width: 768px) {
    .hidden-md-up {
        display: none;
    }
}
@media (min-width: 992px) {
    .hidden-lg-up {
        display: none;
    }
}