.site-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(46,62,72,.12), 0 0 2px 0 rgba(46,62,72,.12);
    z-index: 999;
}
.site-header + * {
    padding-top: 100px !important;
}

.site-header .header-main-menu {
    display: block;
}
.site-header .header-main-menu ul {
    list-style: none;
    margin: 0 -15px 0 -15px;
    padding: 0;
}
.site-header .header-main-menu ul li {
    float: left;
    display: inline-block;
    margin-right: 20px;
    padding: 0 15px;
}
.site-header .header-main-menu ul li a,
.site-header .header-main-menu ul li a:hover {
    line-height: 100px;
    text-decoration: none;
}

.site-header .header-main-menu ul li .header-logo {
    display: block;
    padding: 20px 0;
    margin-right: 20px;
}
